.burger {
  --burger-width: 27px;
  --burger-height: 24px;
  --burger-line-height: 2px;

  position: relative;
  flex-shrink: 0;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: $color-main;
  background-color: $color-transparent;
  border: none;
  cursor: pointer;
  transition: color $trans-default;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform $trans-default, top $trans-default;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - var(--burger-line-height));
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform $trans-default;
  }

  @include hover {
    color: $color-accent;
  }

  &--active {
    z-index: 1;
    color: $color-active;

    &::before {
      top: 50%;
      transform: rotate(45deg);
      transition: transform $trans-default, top $trans-default;
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
      transition: transform $trans-default, top $trans-default;
    }

    .burger__line {
      transform: scale(0);
      transition: transform $trans-default;
    }
  }

  @include vp-1024 {
    display: none;
  }
}
